
section#transmissions {}

section#transmissions div#optionsWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 60vh;
	box-sizing: border-box;
	padding: 20px;
	transition: all 0.5s ease-out;
	/*background-color: blueviolet;*/

	/*reduce to
	width: 222px;
	height: 225px;*/
}

section#transmissions div#optionsWrapper::before {
	content: '';
	/*width: 35%;
	height: 35%;*/
	width: 220px;
	height: 220px;
	border: 2px solid black;
	border-right: none;
	border-bottom: none;
	top: 0px;
	left: 0px;
	position: absolute;
}

section#transmissions div#optionsWrapper::after {
	content: '';
	/*width: 35%;
	height: 35%;*/
	width: 220px;
	height: 220px;
	border: 2px solid black;
	border-top: none;
	border-left: none;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

section#transmissions div#optionsWrapper div.opt {
	position: absolute;
	padding: 30px;
	transition: all 0.3s ease-out;
}

section#transmissions div#optionsWrapper div.opt:hover {
	background-color: black;
    color: white;
}

section#transmissions div#optionsWrapper div.opt h2 {
	font-family: Avenir;
	font-weight: 500;
	font-size: 1.25em;
	letter-spacing: 8px;
	/*text-align: center;*/
	margin-bottom: 5px;
}

section#transmissions div#optionsWrapper div.opt span {
	font-family: Avenir;
	font-size: 0.7em;
	letter-spacing: 10px;
	/*text-align: center;*/
	color: var(--text-gray);
	display: inline-block;
	width: 100%;
}

	section#transmissions div#optionsWrapper div.opt:first-child {
		top: 0;
		left: 0;
	}

	section#transmissions div#optionsWrapper div.opt:nth-child(2) {
		top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	text-align: center;

    	/*maxWidth 440px
    	width: 110%;*/
	}

	section#transmissions div#optionsWrapper div.opt:last-child {
		bottom: 0;
		right: 0;
		text-align: right;
		z-index: 1;
	}




div#socials {
	display: none;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	border:  2px solid;
	width: 50%;
	transition: all 0.4s ease-out;
}

div#socials ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#socials ul li {
	display: inline-block;
	width: 50%;
}

	div#socials ul li:first-child {}

	div#socials ul li:last-child {}

div#socials ul li:hover {}

div#socials ul li a {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;

	font-family: Avenir;
	font-weight: 500;
	font-size: 1.25em;
	color: black;
	letter-spacing: 5px;

	transition: all 0.3s ease-out;
}

div#socials ul li a:active {
	text-decoration: none;
	color: var(--text-gray);
}

div#socials ul li a:visited {
	text-decoration: none;
	color: var(--text-gray);
}

div#socials ul li a:hover {
	background-color: black;
	color: white;
}





@media screen and (max-width: 440px) {
	section#transmissions div#optionsWrapper {
		width: 99%;
	}

	section#transmissions div#optionsWrapper div.opt:nth-child(2) {
		width: 60%;
		text-align: center;
	}

	section#transmissions div#optionsWrapper div.opt:last-child {
		text-align: right;
	}

	section#transmissions div#optionsWrapper div.opt h2 {
		font-size: 1em;
	}

	section#transmissions div#optionsWrapper div.opt span {
		font-size: 0.7em;
		letter-spacing: 7px;
	}

	div#socials {
		width: 90%;
	}
}


